@use'importante/header';
@use'base/generales';
@use'importante/logo';
@use'base/mediaqueri';
@use'base/producto-destacado';
@use'page/servicios';
@use'importante/footer';
@use'importante/ofertas';
@use'page/stock';
@use'page/contacto';
@use'importante/botones';

