@use'../base/variables';
@use'sass:map';
@use'../utilities/maps'as mapa;

/*BOTONES*/
.boton {
    display: inline-block;
    padding: 10px 40px;
    background: variables.$colorBK;
    color: variables.$color2;
    border: none;
    border-radius: variables.$medida15px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
header h2 .titulo2 {
    margin-bottom: 0;
}
.boton:hover {
    background-color: variables.$color-primario;
    color: variables.$color2;
}
.boton2:hover {
    background-color: variables.$color-primario;
    color: variables.$color2;
}