@use'../base/variables';
@use'sass:map';
@use'../utilities/maps'as mapa;

footer div.pregunta {
    text-decoration: double;
}

.footer {
    background-color: #111;
    color: #eee;
    text-align: center;
    padding: 30px 15px;
    font-family: "Poppins", sans-serif;
}

.footer-contenido h3 {
    font-size: 1.5rem;
    margin-bottom: map.get(mapa.$medidas,medida-2);
    color: variables.$color2;
}

.footer-contenido p {
    font-size: 0.95rem;
    color: #ccc;
    max-width: 500px;
    margin: 0 auto 20px;
}

.footer-contacto {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contacto li {
    margin: 8px 0;
    font-size: 0.95rem;
}

.footer-contacto i {
    margin-right: 8px;
  color: #e4b700; /* color detalle elegante */
}

.footer-contacto a {
    color: #e4b700;
    text-decoration: none;
}

.footer-contacto a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: variables.$border;
    padding-top: map.get(mapa.$medidas,medida-2);
    font-size: 0.85rem;
    color: #aaa;
}