@use'../base/variables';
@use'sass:map';
@use'../utilities/maps'as mapa;



/*MENÚ DE NAVEGACIÓN*/
header {
    .navbar {
        background-color: #c4c4c4;
        padding: 0.2%;
        display: flex;
        margin-bottom: 10%;
        gap: 20%;
        div{
            ul{
                list-style: none;
                gap: variables.$border;
            }
        }
    }
}



.menu .navbar-nav li a {
    font-size: 18px;
    padding: center;
    border-radius: map.get(mapa.$medidas,medida-2);
    transition: background-color 0.3s;
    
}

.navbar .list li a:hover {
    background-color: variables.$color-primario;
    color: variables.$color2;
}