@use'../base/variables';
@use'sass:map';
@use'../utilities/maps'as mapa;



/* LOGO */
.logo {
    display: flex;
    font-weight: bold;
    color: variables.$color-primario;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-left: variables.$medida15px;
}