$colores: (
    color-primario: #8800c7,
    color2: #ffff,
    colorBK: #0000,
    colorF4: #f4f4f4,
);

$medidas: (
    border: 20px,
    radius: 8px,
    font: bold,
    medida: 2px,
    pad: 10px,
    medida-font: 22px,
    medida-2: 10px,
    medida15px: 15px,
);