@use'../base/variables'as variables;
@use'sass:map';
@use'../utilities/maps'as mapa;
@use'../utilities/mixins';


/*RESET Y CONFIGURACIÓN GENERAL*/
* {
    font-family: Arial, sans-serif;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, p {
    text-align: center;
    line-height: 1.5;
}


div h4 {
    margin-bottom: 5%;
    font-size: larger;
    font-weight: 100%;
    font-weight: bold;
}

// TITULO DE OFERTAS
DIV{
    .titulo2{
        width: 80%;
        @include mixins.flex-center(flex,center,center);
        background-color: variables.$colorBK;
        border-radius: variables.$border;
        font-weight: variables.$font;
        color: variables.$color2;
        margin: 10% 10% 5% auto ;
        font-size: variables.$medida-font;
        padding: variables.$pad;
    }
}


// ENCABEZADO
div{
    .encabezado{
        background-color: variables.$color-primario;
        border-radius: variables.$border;
        color: variables.$color2;
        @include mixins.flex-center(flex,center,center);
        width: 60%;
        margin: 10% auto;
        font-size: 26px;
        padding: map.get(mapa.$medidas,medida-2);
        
    }
}


.texto2{
    background-color: variables.$color-primario;
    font-size: variables.$border;
    font-weight: variables.$font;
    color: variables.$color2;
    border-radius: variables.$border;
    top: variables.$border;
    margin: 5% 10% 10% 10%;
    width: 90%;
    padding: 5%;
}


/* LOGO */
.logo {
    @include mixins.text-center(display,text-center);
    font-weight: variables.$font;
    color: variables.$color-primario;
    font-size: 18px;
    text-decoration: none;
    margin-left: variables.$medida15px;
}

main{
    div.caja{
        @include mixins.flex-center(flex,center,center);
        padding: variables.$medida;
        margin: 0 auto;
    }
}

.texto {
    font-size: variables.$medida15px;
    text-align: center;
    color: variables.$colorBK;
    font-weight: variables.$font;
    background-color: variables.$color2;
    border-radius: variables.$border;
    width: 80%;
    margin: 0 auto 5% auto;
    padding: 30px;
}


/*PRODUCTO DESTACADO*/
.producto-destacado {
    @include mixins.flex-center(flex,center,center);
    gap: 250px;
    padding: 50px;
    color: variables.$colorBK;
    gap: variables.$border;
}


.producto{
    text-align: center;
    background: variables.$color2;
    padding: variables.$border;
    border-radius: variables.$border;
}


.good-imagen {
    display: grid;
    width: 350px;
    height: 500px;
    border-radius: variables.$border;
}

header div .good-imagen{
    @include mixins.flex-center(flex,center,center);;
    padding: auto;
} 


/*FONDO DEL HEADER*/
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}


.fondo img {
    opacity: 0.6;
    z-index: -1;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    
}


/*FOOTER*/
footer {
    color: variables.$colorBK;
    text-align: center;
    padding: variables.$medida15px;
    border-radius: 5px;
    margin-top: variables.$border;
}


.stock{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: variables.$border;
    text-align: center;
    justify-content: center;
}


.good-imagen2 {
    width: 250px;
    height: 350px;
    border-radius: 50px;
}


footer p #ultimo {
    background-color: #c4c4c4;
    font-size: 14px;
    margin-top: map.get(mapa.$medidas,medida-2);
}


.reseñas {
    background-color: variables.$colorF4;
    padding: variables.$border;
    border-radius: map.get(mapa.$medidas,medida-2);
    margin: 20px 0;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.contacto {
    background-color: variables.$colorF4;
    padding: map.get(mapa.$medidas,medida-2);
    border-radius: map.get(mapa.$medidas,medida-2);
    margin: 20px 0;
    text-align: left;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/*botones de contacto*/
.wsp-btn{
    display: inline-block;
    background-color: #25D366;
    color: variables.$color2;
    padding: 12px 20px;
    border-radius: variables.$radius;
    transition: background-color 0.3s ease;
}

.wsp-btn:hover{
    background-color: #18a551;
}

.wsp-btn2{
    display: inline-block;
    background-color: #e031da;
    padding: 12px 5px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.wsp-btn2:hover{
    background-color: #941c92;
}

.btn1{
    display: inline-block;
    background-color: #efac39;
    padding: 12px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn1:hover{
    background-color: #c58413;
}



/*mapa*/
.mapa {
    @include mixins.flex-center(flex,center,center);
    margin-top: 80px;
    border-radius: map.get(mapa.$medidas,medida-2);
    gap: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.servicios{
    background-color: variables.$colorF4;
    padding: variables.$border;
    border-radius: map.get(mapa.$medidas,medida-2);
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

section{ 
    div.otro{
        background-color: variables.$colorBK;
        color: variables.$color2;
        border-radius: variables.$border;
        margin: 0 auto;
        padding: map.get(mapa.$medidas,medida-2);
        width: 60%;
        margin-top: 100px;
    }
}

button,
    .btn {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover,
    .btn:hover {
        transform: scale(1.05);
}





/* .contacto-lista{
    display: block;
    text-align: center;
    list-style: none;
} */







