@use'../base/variables';
@use'sass:map';
@use'../utilities/maps'as mapa;
@use'../utilities/extend';


/*PRODUCTO DESTACADO*/
.producto-destacado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: variables.$medida15px;
    color: variables.$colorBK;
    font-weight: bold;

}
.producto{
    text-align: center;
    background: variables.$color2;
    padding: variables.$border;
    border-radius: variables.$border;
}
.good-imagen {
    display: grid;
    width: 300px;
    height: 500px;
    border-radius: variables.$border;
}

header div .good-imagen{
    padding: auto;
} 
