$color-primario: #8800c7;
$color2: #ffff;
$border: 20px;
$radius: 8px;
$font: bold;
$colorBK: #000000;
$colorF4: #F4F4F4;
$medida: 2px;
$pad: 10px;
$medida-font: 22px;
$medida-2: 10px;
$medida15px: 15px